:root {
  --redColor: #e93541;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 100px 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 200px);
  grid-auto-columns: minmax(200px, 1fr);
  grid-auto-rows: 200px;
  grid-auto-flow: column;
  gap: 30px;
}

.grid .header {
  grid-area: 1 / 1 / 3 / 3;
  margin-top: 200px;
  align-self: flex-start;
  z-index: 1;
}

.grid .item:nth-child(2) {
  border-top: none;
  position: relative;
  grid-area: 3 / 1 / 4 / 3;
  height: 300px;
  bottom: 100px;
  overflow: hidden;
}

.item .hrtags {
  width: 900px;
  overflow: hidden;
  transform: rotate(-47deg);
  transform-origin: 20% 60%;
}

.hrtags .hr {
  width: 100%;
  color: black;
  border: thin solid rgba(55, 53, 53);
  margin-bottom: 20px;
}

.grid .item:first-child {
  border-right: 10px solid #e93541;
}

.header .title {
  border-right: 10px solid var(--redColor);
  transform: rotate(-90deg);
  transform-origin: 20% 60%;
  color: var(--redColor);
  font-size: 90px;
  margin-top: 74px;
}

.grid .item {
  border-top: 10px solid black;
}

.item .item__number {
  font-size: 60px;
}

.grid .item:nth-child(4) {
  border-top: none;
  background-position: center;
  background-size: 100%;
  background-image: url(https://i.pinimg.com/564x/35/58/1c/35581ce8483d42ac978b509137b28419.jpg);
}

.grid .item:nth-child(5) {
  border-top: none;
}

.grid .item:nth-child(6) {
  grid-area: span 2 / span 2;
}

.grid .item:nth-child(7) {
  grid-area: span 1 / span 2;
  border-top: none;
  background-position: center;
  background-size: 100%;
  background-image: url(https://i.pinimg.com/564x/7c/46/f0/7c46f0274f358faaa11fd5bc55e76e16.jpg);
  color: rgba(164, 41, 41, 0.5);
}

.grid .item:nth-child(9) {
  border-top: none;
  background-position: center;
  background-size: 100%;
  background-image: url(https://i.pinimg.com/236x/a5/8c/23/a58c23a48243e3d6ca3c439e712324d0.jpg);
}

.grid .item:nth-child(6),
.grid .item:nth-child(13) {
  display: flex;
}

.grid .item:nth-child(6) .item__title,
.grid .item:nth-child(13) .item__title {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 30px;
}

.grid .item:nth-child(13) {
  grid-area: span 1 / span 2;
}
